{% extends 'products/header.html' %}

{% block content %}
    <h1 class="uk-heading-small uk-heading-line uk-text-center">{% if request.path == '/new' %} <small>Create Product</small> {% else %} Edit - {% endif %}
        {% if request.path != '/new' %}<small>{{ product.name }}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="uk-margin-medium-top">
                    <input type="submit" {% if request.path == '/new' %} value="Add" {% else %} value="Update" {% endif %} class="uk-button uk-button-primary"/>
                    <a href="{% url 'product_list' %}"><button type="button" class="uk-button uk-button-default">Back</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}